@import 'sass/colors';
@import 'sass/devices';
@import 'sass/typography';

.Header {
    background: $color-yellow url('/images/thanky-background.svg') center center no-repeat;
    background-size: cover;
    color: $color-dark;
    display: flex;
    flex-direction: column;
    min-height: 256px;
    padding: 1.0em;

    &__greeting {
        display: flex;
        flex: 1;
        flex-direction: row;
    }

    &__nav {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__howdy {
        @include fontsize($fontsize-xl);
        display: block;
        font-family: $fontstack-headings;
        font-weight: $fontweight-bold;
    }

    &__compliment {
        @include fontsize($fontsize-normal);
        display: block;
        font-family: $fontstack-body;
    }

    &__logo {
        padding-top: 0.75em;

        svg {
            height: 72px;
            width: auto;

            @include desktop {
                height: 128px;
            }
        }
    }

    &__text {
        padding-left: 1.0em;
    }
}
