@import 'sass/colors';
@import 'sass/devices';
@import 'sass/typography';


.NavbarContainer {
    background: $color-dark;
    color: $color-light;
    display: flex;
    flex-direction: column;
}

.Navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0.5em;

    @include desktop {
        padding: 0.5em 1.0em;
    }

    &__logo {
        padding-right: 1.0em;

        svg {
            fill: $color-light;
            height: 32px;
            width: auto;
        }
    }

    nav {
        flex: 1;
    }
}

.NavbarDesktop {
    display: none;

    @include desktop {
        display: inline-block;
    }

    ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {

        &:last-child {

            a {
                border-right: none;
                // padding-right: 0;
            }
        }
    }

    a {
        align-items: center;
        border-right: 1px solid $color-gray-40;
        display: flex;
        flex-direction: row;
        color: $color-light;
        font-family: $fontstack-headings;
        padding: 0.25em 1.0em;
        text-decoration: none;

        &:hover {
            background: $color-gray-20;
        }

        span {
            @include fontsize($fontsize-xs);
        }

        svg {
            fill: $color-light;
            height: $fontsize-small;
            margin-right: 0.15em;
        }
    }
}

.NavbarMobile {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    @include desktop {
        display: none;
    }

    button {
        @include fontsize($fontsize-normal);
        align-items: center;
        background: transparent;
        border: none;
        color: $color-light;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.25em;

    }

    &__links {
        padding: 0 1.0em;

        ul {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        a {
            align-items: center;
            display: flex;
            flex-direction: row;
            color: $color-light;
            font-family: $fontstack-headings;
            padding: 0.5em 2.0em 0.5em 0;
            text-decoration: none;

            span {
                @include fontsize($fontsize-normal);
            }

            svg {
                fill: $color-light;
                height: $fontsize-small;
                margin-right: 0.25em;
            }
        }
    }
}
