@charset "utf-8";

// Hat tip to: https://seesparkbox.com/foundry/sassy_grayscale
$color-white: #ffffff;
$color-gray-98: #f3f3f3;
$color-gray-95: #ededed;
$color-gray-90: #e3e3e3;
$color-gray-85: #d9d9d9;
$color-gray-80: #cccccc;
$color-gray-75: #c0c0c0;
$color-gray-70: #b0b0b0;
$color-gray-60: #999999;
$color-gray-50: #808080;
$color-gray-45: #727272;
$color-gray-40: #696969;
$color-gray-30: #4d4d4d;
$color-gray-20: #363636;
$color-gray-15: #222222;
$color-gray-10: #171717;
$color-black: #000000;

$color-light: rgb(246, 245, 235);
$color-dark: rgb(30, 31, 32);

$Pastel-1: #5694A9;
$Pastel-2: #70ADE0;
$Pastel-3: #FFDB8D;
$Pastel-4: #74E1D2;
$Pastel-5: #263F4C;

$Hidden-Places-1: #D99AAB;
$Hidden-Places-2: #DFE4F2;
$Hidden-Places-3: #0D688C;
$Hidden-Places-4: #0889A6;
$Hidden-Places-5: #BF9411;

$BlueRaspberry-1: #0083b0;
$BlueRaspberry-2: #00b4db;

$color-background: $BlueRaspberry-1;
$color-text: $color-light;

// Page
$color-page-background: $color-light;
$color-page-text: $color-dark;

// Footer
$color-footer-bg: $color-light;
