@charset "utf-8";

// Hat tip to: https://seesparkbox.com/foundry/sassy_grayscale
$color-white: #ffffff;
$color-gray-98: #f3f3f3;
$color-gray-95: #ededed;
$color-gray-90: #e3e3e3;
$color-gray-85: #d9d9d9;
$color-gray-80: #cccccc;
$color-gray-75: #c0c0c0;
$color-gray-70: #b0b0b0;
$color-gray-60: #999999;
$color-gray-50: #808080;
$color-gray-45: #727272;
$color-gray-40: #696969;
$color-gray-30: #4d4d4d;
$color-gray-20: #363636;
$color-gray-15: #222222;
$color-gray-10: #171717;
$color-black: #000000;

$color-light: #F6F5EB;
$color-dark: #303132;
$color-text: $color-light;

$color-yellow: #F8D951;
$color-yellow-green: #F2FF8D;
$color-green: #5A9E7A;
$color-blue: #3C556B;
$color-purple: #4B385C;

// Page
$color-page-background: $color-light;
$color-page-text: $color-dark;

// Footer
$color-footer-bg: $color-light;

@mixin gradient() {
    background: linear-gradient(
        to right,
        $color-purple 20%,
        $color-blue 20%,
        $color-blue 40%,
        $color-green 40%,
        $color-green 60%,
        $color-yellow-green 60%,
        $color-yellow-green 80%,
        $color-yellow 80%
    );
    height: 9px;
}
