@import 'sass/colors';
@import 'sass/typography';
@import 'sass/page';

.DetailsPage {
    @include page();

    &__entrylink {
        @include fontsize($fontsize-small);
        font-family: $fontstack-headings;
        word-wrap: break-word;
    }

    &__date {
        @include fontsize($fontsize-large);
        font-family: $fontstack-headings;
        font-style: italic;
        margin: 0 0 1.0em 0;
    }
}
