@import 'sass/colors';
@import 'sass/typography';

.Navbar {
    background-color: $color-navbar-background;
    color: $color-navbar-text;
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;

    a {
        color: $color-navbar-text;
        font-weight: $fontweight-bold;
        margin-left: 0.5em;
        text-decoration: none;
    }
}
