@import 'sass/colors';
@import 'sass/typography';

.Hanky {
    border: 1px solid $color-white;
    border-radius: 0.75em;
    box-shadow: 0 0 1.0em $color-gray-50;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    min-height: 256px;

    &__content {
        display: block;
        flex: 1;
    }

    &__text {
        @include fontsize($fontsize-xl);

        color: $color-white;
        flex: 1;
        font-weight: $fontweight-bold;
        padding: 1.0em;
        text-align: center;
        text-shadow: 0.075em 0.075em 0 $color-gray-30;
        word-wrap: break-word;
    }

    &__info {
        background: $color-white;
        border-radius: 0 0 0.7em 0.7em;
        color: $color-text;
        padding: 1.0em;
    }
}