@import 'sass/colors';
@import 'sass/typography';

.ShareBox {

    a {
        @include fontsize($fontsize-small);

        font-family: $fontstack-headings;
    }

    &__buttons {
        align-items: center;
        display: flex;
        flex-direction: row;

        button {
            margin-right: 1.0em;
        }

        svg {
            height: 32px;
            width: 32px;
        }
    }
}