@import 'sass/colors';
@import 'sass/devices';
@import 'sass/typography';

.Footer {
    background: $color-dark;
    color: $color-gray-60;
    padding: 2.0em 1.0em;

    svg {
        fill: $color-light;
        height: 48px;
    }

    a {
        color: $color-light;
        text-decoration: none;
    }
}
