@import 'sass/colors';
@import 'sass/devices';
@import 'sass/typography';

.Footer {
    color: $color-gray-60;

    svg {
        fill: $color-light;
        height: 48px;
    }

    a {
        color: $color-light;
        text-decoration: none;
    }
}
