@import 'sass/colors';
@import 'sass/devices';
@import 'sass/page';
@import 'sass/typography';


.ThanksPage {
    background: $color-light;
    color: $color-dark;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0;

    &__main {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 0;
        padding: 0;

        @include desktop {
            flex-direction: row;
        }
    }

    &__splash {
        background-position: center center;
        background-size: cover;
        border-bottom: 1px solid $color-dark;
        border-right: none;
        min-height: 256px;
        width: 100%;

        @include desktop {
            border-bottom: none;
            border-right: 1px solid $color-dark;
            width: 50%;
        }
    }

    &__entry {
        background: $color-white;
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    &__text {
        @include fontsize($fontsize-large);
        flex: 1;
        padding: 1.0em;

        p {
            margin: 0;
        }
    }

    &__avatar {
        padding-right: 0.5em;

        img {
            border: 1px solid $color-white;
            border-radius: 50%;
            box-shadow: 0 0 0.25em $color-gray-50;
            height: 48px;
            width: 48px;
        }
    }

    &__attribution {
        @include fontsize($fontsize-small);

        align-items: center;
        background: rgba(0, 0, 0, 0.05);
        border-top: 1px solid $color-white;
        color: $color-gray-40;
        display: flex;
        flex-direction: row;
        font-family: $fontstack-headings;
        padding: 1.0em;
    }

    &__footer {
        background: $color-dark;
        color: $color-light;
    }

    &__topgradient {
        @include gradient;
        border-bottom: 1px solid $color-dark;
    }

    &__bottomgradient {
        @include gradient;
        border-top: 1px solid $color-dark;
    }
}
