@import 'sass/colors';
@import 'sass/typography';

html,
body {
    margin: 0;
    padding: 0;
}

body {
    @include fontsize($fontsize-normal);
    font-family: $fontstack-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontstack-headings;
    font-weight: $fontweight-bold;
}

