@import 'sass/colors';
@import 'sass/devices';
@import 'sass/page';
@import 'sass/typography';

.BoardPage {
    @include page();

    &__title {
        @include fontsize($fontsize-large);
        font-family: $fontstack-headings;
        text-align: center;
    }

    &__random {
        background: rgba($color-yellow, 0.25);
        border-radius: 0.25em;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1em auto;
        padding: 1em;
        margin-bottom: 2em;
        max-width: 500px;

        @include desktop {
            padding: 1em 3em;
        }
    }

    &__randombtn {
        align-items: center;
        background: none;
        border: none;
        display: flex;
        justify-content: center;
        margin-top: 1em;

        svg {
            margin-right: 0.25em;
        }
    }

    &__pinned {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1em;

        @include desktop {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__tip {
        color: $color-gray-40;
        max-width: 400px;
    }
}
