@import 'sass/colors';
@import 'sass/typography';
@import 'sass/page';


.HistoryPage {
    @include page();

    &__year {
        @include fontsize($fontsize-xl);
        font-family: $fontstack-headings;
        font-style: italic;
    }

    &__month {
        @include fontsize($fontsize-large);
        font-family: $fontstack-headings;
        font-style: italic;
    }
}
