@import 'sass/colors';
@import 'sass/page';
@import 'sass/typography';

.HomePage {
    @include page();

    &__date {
        @include fontsize($fontsize-large);
        font-family: $fontstack-headings;
        font-weight: $fontweight-bold;
    }

    &__feed {
        margin: 2.0em 0;
    }

    &__feeditem {
        margin-bottom: 1.0em;
    }
}
