@import 'sass/colors';
@import 'sass/devices';
@import 'sass/typography';

.Form {

    &__buttons {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding: 0.5em 0;

        @include desktop {
            flex-direction: row;
        }
    }

    &__messages {
        flex: 1;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    textarea {
        @include fontsize($fontsize-normal);

        background-color: transparent;
        border: 1px solid $color-gray-70;
        color: $color-page-text;
        flex: 1;
        font-family: $fontstack-body;
        margin-top: 0.5em;
        padding: 0.5em;
        resize: none;
        overflow: auto;
    }

    button {
        @include fontsize($fontsize-normal);

        background: $color-yellow;
        border: 1px solid $color-dark;
        border-radius: 0.35em;
        color: $color-dark;
        margin: 1.0em auto;
        padding: 0.5em 1.0em;
        white-space: nowrap;

        @include desktop {
            margin: 0 0 0 1.0em;
        }
    }
}
