@import 'sass/colors';
@import 'sass/typography';


.EntryEditor {
    border: 5px solid $color-white;
    border-radius: 5px;
    box-shadow: 0 0 0.5em $color-gray-50;
    display: flex;
    flex-direction: column;

    &__item {
        align-items: center;
        background: rgba($color-yellow, 0.15);
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

    &__content {
        @include fontsize($fontsize-large);

        color: $color-dark;
        font-weight: $fontweight-bold;
        padding: 1.0em 0.5em;
    }

    &__buttons {
        align-items: center;
        background: $color-white;
        display: flex;
        justify-content: flex-end;
        padding: 0.5em 0;

        button {
            align-items: center;
            background: none;
            border: none;
            display: flex;
            justify-content: flex-end;
        }

        span {
            @include fontsize($fontsize-small);
            font-family: $fontstack-headings;
            padding-left: 0.25em;
        }

        svg {
            fill: $color-gray-30;
            height: 18px;
            width: 18px;
        }
    }

    textarea {
        @include fontsize($fontsize-normal);

        background: rgba($color-yellow, 0.15);
        border: 1px solid $color-gray-70;
        color: $color-dark;
        flex: 1;
        font-family: $fontstack-body;
        padding: 0.5em;
        resize: none;
        overflow: auto;
    }
}
